#wpwrap {
    background: #fafafa;
}

#agentmonitor-page h1,
#agentmonitor-page h2,
#agentmonitor-page h3,
#agentmonitor-page h4,
#agentmonitor-page h5,
#agentmonitor-page h6,
#agentmonitor-page p {
    margin: 16px 0;
}

#agentmonitor-page h1:first-child,
#agentmonitor-page h2:first-child,
#agentmonitor-page h3:first-child,
#agentmonitor-page h4:first-child,
#agentmonitor-page h5:first-child,
#agentmonitor-page h6:first-child,
#agentmonitor-page p:first-child {
    margin-top: 0;
}

#agentmonitor-page h1:last-child,
#agentmonitor-page h2:last-child,
#agentmonitor-page h3:last-child,
#agentmonitor-page h4:last-child,
#agentmonitor-page h5:last-child,
#agentmonitor-page h6:last-child,
#agentmonitor-page p:last-child {
    margin-bottom: 0;
}

#agentmonitor-page .button,
#agentmonitor-page [class*=button-],
#agentmonitor-page input:not([type="checkbox"]) {
    border-radius: 8px;
}

#agentmonitor-page .muted {
    opacity: 0.8;
}

#agentmonitor-page {
    padding: 32px;
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#agentmonitor-page .header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#agentmonitor-page .header .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#agentmonitor-page .header .head .logo {
    height: 24px;
}

#agentmonitor-page form {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
}

#agentmonitor-page form .content .section {
    border-bottom: 1px solid #e5e5e5;
    padding: 24px;
}

#agentmonitor-page form .foot {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 24px;
}


#agentmonitor-page p:first-child {
    margin-top: 0;
}

#agentmonitor-page p:last-child {
    margin-bottom: 0;
}

#agentmonitor-page form .field-label {
    display: block;
    margin-bottom: 8px;
}

#agentmonitor-page form .card-footer {
    display: flex;
    justify-content: end;
}

#agentmonitor-page form input[type=password] {
    width: 100%;
    line-height: 32px;
    padding: 0 8px;
    border: 1px solid #e5e5e5;
}

#agentmonitor-page form input[type=submit] {
    padding: 0 16px;
    line-height: 32px;
}

#agentmonitor-page form input[type=range] {
    width: 100%;
}
